{% block cadre %}
    <center>
        <div class="card w-75 " style=" background: rgba(255, 255, 255, 0.7);
             position: relative; margin:  3% 12.5%;{# z-index: 9999#}">
            <div class="card-header">
                CONGRÈS DE LA FÉDÉRATION FRANÇAISE D'ESCRIME
            </div>
            <div class="card-body">
                <h5 class="card-title">du 16 septembre 2023 au 17 septembre 2023</h5>
                {#<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>#}
                <div class="container">
                    {#                    <center>#}
                    {% foreach atelier in ateliers %} 
                    {{ endforeach }}
                    <div class="row">
                        <div class="card col-md" style="width: 18rem; margin: 0 10px">
                            <div class="card-body">
                                <h5 class="card-title">{{ atelier.nom }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ vacation.date_heure_debut }} - {{  vacation.date_heure_fin }}</h6>
                                <p class="card-text text-muted">{{ atelier.nbPlaces }}</p>
                                <p class="card-text">listes des themes</p>
                            </div>
                        </div>
                        <div class="card col-md" style="width: 18rem; margin: 0 10px">  
                            <div class="card-body">
                                <h5 class="card-title">{{ atelier.nom }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ vacation.date_heure_debut }} - {{  vacation.date_heure_fin }}</h6>
                                <p class="card-text text-muted">{{ atelier.nbPlaces }}</p>
                                <p class="card-text">listes des themes</p>
                            </div>
                        </div>
                        <div class="card col-md" style="width: 18rem; margin: 0 10px">
                            <div class="card-body">
                                <h5 class="card-title">{{ atelier.nom }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ vacation.date_heure_debut }} - {{  vacation.date_heure_fin }}</h6>
                                <p class="card-text text-muted">{{ atelier.nbPlaces }}</p>
                                <p class="card-text">listes des themes</p>
                            </div>
                        </div>
                    </div>
                    {#                    </center>#}
                </div>

            </div>
    </center>
{% endblock %}