{% block cadre_Hebergement %}
    <center>
        <div class="card w-75 " style=" background: rgba(255, 255, 255, 0.7);
             position: relative; margin:  3% 12.5%;{# z-index: 9999#}">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Hébergments Disponibles</h5>
                <div class="container">
                    <center>


                        <div class="row">        
                            {% set nb_hebergement = null %}
                            {% for hotel in hotels %}
                                <div class="card col-md" style="width: 18rem; margin: 0 10px">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ hotel.nom }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ hotel.adresse }} {{ hotel.ville }} {{ hotel.cp }}</h6>
                                        <h6 class="card-subtitle mb-2">Offres :</h6>
                                        {% for offre in hotel.tarifs %}
                                        <p class="card-text">{{ offre.categorie.libelleCategorie }}:  {{ offre.tarifNuite }} €</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if loop.index %1 == 1 %}
                                </div>
                            {% endif %}
                            {% set nb_hebergement= loop.index %}

                        {% endfor %}
                        {% if nb_hebergement %1 != 1 %}
                    </div>
                {% endif %}



                </center>
            </div>

        </div>
    </center>
{% endblock %}